:root {
   --secondary:#232B38;
--pure:#FEFEFE;
}
/* Reset  */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.branding{
    color: rgb(230, 16, 165);
    margin-left:10px;
    margin-top:-20px
}
.contact{
    margin-top:20px;
    margin-left:50px;
}
.time{
    margin-top:20px;
    margin-right:5px;
}
header.topbar{
background:#232B38;
color:var(--pure);
font-family:"Raleway-semibold";
padding:0.75rem 0;
  }
  .navbar{
      margin-top:-200px;
  }
  h3{
   color:violet;
   text-align:center
  }
header.topbar .auth .divider{
      padding:0 1rem;
  }
  .flex{
    display:flex;
  }
  .justify-between{
    justify-content: space-between;
  }
  .items-center{
      align-items: center;
  }
  nav .top{
      padding:1.5rem 0;
  }
  nav .top .contact img, nav .top .time img{
    margin-right:1rem;
}

.justify-center{
    justify-content:center;
}
nav .navbar a{
    text-decoration:none;
    color:var(--secondary);
    font-family:"Raleway-semibold";
    font-size:1rem;
    padding:1rem 1.5rem;
}
a{
        text-decoration:none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:white;
}
.id:hover{
background-color:danger;
font-size:30px;
}
.id{
    color:var(--secondary);
}
legend{
    text-align:center;
}
nav .navbar a:hover{
    background:var(--secondary);
    color:var(--pure); 
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Create a column layout with Flexbox */
  .row {
    display:flex;
  }
  
  /* Left column (menu) */
  .left {
    padding: 15px 0;
    
  }
  
  .left h2 {
    color:white;
    padding-left:10px;
  }
  
  /* Right column (page content) */
  .right {
    flex: 65%;
    padding: 15px;
  }
  
  /* Style the search box */
  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color:white;
    display: block
  }
  
  #myMenu li a:hover {
    background-color:#6C6C6C;
  }
  :root {
    --secondary:#232B38;
 --pure:#FEFEFE;
 }
 /* Reset  */
 *{
     padding:0;
     margin:0;
     box-sizing: border-box;
 }
 .branding{
     color: rgb(230, 16, 165);
     margin-left:10px;
     margin-top:-20px
 }
 .contact{
     margin-top:20px;
     margin-left:50px;
 }
 .time{
     margin-top:20px;
     margin-right:5px;
 }
 header.topbar{
 background:#232B38;
 color:var(--pure);
 font-family:"Raleway-semibold";
 padding:0.75rem 0;
   }
   .navbar{
       margin-top:-200px;
   }
   h3{
    color:violet;
    text-align:center
   }
 header.topbar .auth .divider{
       padding:0 1rem;
   }
   .flex{
     display:flex;
   }
   .justify-between{
     justify-content: space-between;
   }
   .items-center{
       align-items: center;
   }
   nav .top{
       padding:1.5rem 0;
   }
   nav .top .contact img, nav .top .time img{
     margin-right:1rem;
 }
 
 .justify-center{
     justify-content:center;
 }
 nav .navbar a{
     text-decoration:none;
     color:var(--secondary);
     font-family:"Raleway-semibold";
     font-size:1rem;
     padding:1rem 1.5rem;
 }
 a{
         text-decoration:none;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
         color:white;
 }
 .id:hover{
 background-color:danger;
 font-size:30px;
 }
 .id{
     color:var(--secondary);
 }
 legend{
     text-align:center;
 }
 nav .navbar a:hover{
     background:var(--secondary);
     color:var(--pure); 
 }
 body {
     font-family: Arial, Helvetica, sans-serif;
   }
   
   * {
     box-sizing: border-box;
   }
   
   /* Create a column layout with Flexbox */
   .row {
     display:flex;
   }
   
   /* Left column (menu) */
   .left {
     padding: 15px 0;
     
   }
   
   .left h2 {
     color:white;
     padding-left:10px;
   }
   
   /* Right column (page content) */
   .right {
     flex: 65%;
     padding: 15px;
   }
   
   /* Style the search box */
   #mySearch {
     width: 100%;
     font-size: 18px;
     padding: 11px;
     border: 1px solid #ddd;
   }
   
   /* Style the navigation menu inside the left column */
   #myMenu {
     list-style-type: none;
     padding: 0;
     
   }
   
   #myMenu li a {
     padding: 12px;
     text-decoration: none;
     color:white;
     display: block
   }
   
   #myMenu li a:hover {
     background-color:#6C6C6C;
   }

 
 
 section.top-products .food-slider .food-card .product-image img{
     width:30%;
     height:200px;
     padding-bottom:1rem;
    
 }
 hr{
     border:1px solid var(--light);
     opacity: 0.8;
     margin:1rem 0;
 }
 section.top-products .food-slider .food-card h2{
     font-family:"Raleway-bold";
     font-size:1.3rem;
     margin-bottom:0.25rem;
 }
 .text-center{
     text-align: center;
 }
 section.top-products .food-slider .food-card .stars{
     margin-bottom:0.5rem;
 }
 section.top-products .food-slider .food-card .stars img{
     margin-right:0.25rem;
 }
 section.top-products .food-slider .food-card .price{
     font-family:"Raleway-medium";
     margin-bottom: 1rem;
 }
 section.top-products .food-slider .food-card button{
     font-family:"Raleway-medium";
     border-radius: 4px;
     display:flex;
     width:20%;
     font-size:1rem
 }
 section.top-products .food-slider .food-card button:hover{
     background:gold;
     color:var(--secondary);
 }
 .food-slider .food-card button img{
     background:yellow;
     padding:0.50rem;
     height:32px;
     margin-right:1.2rem;
 }
 .text{
     margin-top:-30px;
 }
 